<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <link href="/docs/5.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body class="bd-placeholder-img-hotels">
    <main>
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light" style="font-size:50px">Crete, ChristinaBeach </h1>
                </div>
                <p class="lead text-muted pt-3 font">
                    Christina Beach Hotel Apartments is located next to the sea in Kissamos. It offers spacious rooms and apartments with sea views. Free Wi-Fi is available throughout the property. Other facilities include a swimming pool and a pool bar.

                    The air-conditioned rooms feature modern décor, a flat-screen TV and a safety deposit box. All rooms have a kitchenette with a refrigerator and kitchenware. It also has a furnished balcony with sea or pool views.

                    The freshly prepared breakfast is served in the breakfast room or delivered to your room and apartment. The pool bar serves refreshing cocktails and refreshing drinks throughout the day.

                    Christina Beach Hotel is 200 meters from the center of Kissamos and 42 km from Souda Port. Chania Town is 37 km away. The hotel staff can assist guests with car rental. Free public parking is available nearby.
                </p>
                <p class="lead text-muted pt-3 font">
                    Price: Standart: $470 per night. Luxe: $530 per night
                </p>
            </div>
        </section>
        <div class="row mb-3 text-center justify-content-center">
            <div class="col-5 themed-grid-col">
                <img src="~/images/ChristinaBeach1.jpg" width="500" height="300" />
            </div>
            <div class="col-5 themed-grid-col">
                <img src="~/images/ChristinaBeach2.jpg" width="500" height="300" />
            </div>
        </div>
        <div class="row mb-3 text-center justify-content-center">
            <div class="col-5 themed-grid-col">
                <img src="~/images/ChristinaBeach3.jpg" width="500" height="300" />
            </div>
            <div class="col-5 themed-grid-col">
                <img src="~/images/ChristinaBeach4.jpg" width="500" height="300" />
            </div>
        </div>
        <p class="lead text-muted pt-3 font py-3" style="text-align:center">
            You can order a ticket <a asp-area="" asp-controller="AccountProfile" asp-action="Test">here</a>
        </p>
    </main>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link custompagination" asp-action="CretaMaris" asp-controller="HotelsInfo">Next</a></li>
        </ul>
    </nav>
</body>
</html>