<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <link href="/docs/5.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body class="bd-placeholder-img-hotels">
    <main>
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light" style="font-size:50px">Crete, CretaMaris </h1>
                </div>
                <p class="lead text-muted pt-3 font">
                    Overlooking the Blue Flag Hersonissos Beach, the all-inclusive Creta Maris Resort combines a Cretan hospitality and green-oriented environment with exclusive 5-star services.

                    There are 10 outdoor and 1 heated indoor swimming pools, 5 children's swimming pools, a waterpark, an open-air cinema, various sports facilities including a water sports and diving center, a fitness center and a children's playground.

                    Blending tradition with elegance, the spacious rooms of this eco-friendly resort have comfortable armchairs and warm earthy tones. Each is equipped with a satellite TV, a minibar, slippers, tea and coffee making facilities and has a mountain, garden or sea view from its balcony or veranda. All the accommodation types are renovated. Air conditioning comes as a standard.

                    The all- inclusive program is valid till 24:00 and dining options include Cretan, Mediterranean and international cuisine. A total of 7 restaurants, 5 snack points and 10 bars are available on site. Features include dietary, lactose & gluten-free menus, theme nights and romantic dining next to the seafront.

                    The resort’s Hammam Spa features spa treatment rooms specially designed and fully equipped for multiple treatments, including face and body massages, treatments and scrubs. There are also a sauna and a hammam. Children enjoy their own pools, game rooms and playground. There is a baby room with toys and a kids’ club and a teenagers’ club are at disposal of younger guests, with daily activities planned for them.

                    Heraklion International Airport is 24 km away. Front desk staff are available to arrange car rental and transfers.
                </p>
                <p class="lead text-muted pt-3 font">
                    Price: Standart: $300 per night. Luxe: $360 per night
                </p>
            </div>
        </section>
        <div class="row mb-3 text-center justify-content-center">
            <div class="col-5 themed-grid-col">
                <img src="~/images/CretaMaris1.jpg" width="500" height="300" />
            </div>
            <div class="col-5 themed-grid-col">
                <img src="~/images/CretaMaris2.jpg" width="500" height="300" />
            </div>
        </div>
        <div class="row mb-3 text-center justify-content-center">
            <div class="col-5 themed-grid-col">
                <img src="~/images/CretaMaris3.jpg" width="500" height="300" />
            </div>
            <div class="col-5 themed-grid-col">
                <img src="~/images/CretaMaris4.jpg" width="500" height="300" />
            </div>
        </div>
        <p class="lead text-muted pt-3 font py-3" style="text-align:center">
            You can order a ticket <a asp-area="" asp-controller="AccountProfile" asp-action="Test">here</a>
        </p>
    </main>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link custompagination" asp-action="ChristinaBeach" asp-controller="HotelsInfo">Previous</a></li>
            <li class="page-item"><a class="page-link custompagination" asp-action="KavosHotel" asp-controller="HotelsInfo">Next</a></li>
        </ul>
    </nav>
</body>
</html>