<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <link href="/docs/5.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body class="bd-placeholder-img-hotels">
    <main>
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light" style="font-size:50px">Crete, KavosHotel </h1>
                </div>
                <p class="lead text-muted pt-3 font">
                    Kavos Beach Complex enjoys a quiet and beautiful location on the coast of Kavos. The windows offer a beautiful view of the Cretan Sea. The design of the apartments/rooms is well thought out. It features a large outdoor pool with a sun terrace.

                    All air-conditioned apartments and studios are surrounded by landscaped gardens. Other amenities include a spacious balcony or terrace, LCD TV, kitchenette, refrigerator and free internet access.

                    The poolside bar overlooks the sea. Continental breakfast, light snacks, cocktails and refreshing drinks are served here.

                    The complex organizes diving courses; Diving equipment is provided to guests free of charge.

                    Just a 2-minute drive from the complex is the village of Stavros with a beautiful beach and traditional Greek taverns. Chania International Airport is 9 km away. Free parking is provided on site.
                </p>
                <p class="lead text-muted pt-3 font">
                    Price: Standart: $470 per night. Luxe: $610 per night
                </p>
            </div>
        </section>
        <div class="row mb-3 text-center justify-content-center">
            <div class="col-5 themed-grid-col">
                <img src="~/images/KavosHotel1.jpg" width="500" height="300" />
            </div>
            <div class="col-5 themed-grid-col">
                <img src="~/images/KavosHotel2.jpg" width="500" height="300" />
            </div>
        </div>
        <div class="row mb-3 text-center justify-content-center">
            <div class="col-5 themed-grid-col">
                <img src="~/images/KavosHotel3.jpg" width="500" height="300" />
            </div>
            <div class="col-5 themed-grid-col">
                <img src="~/images/KavosHotel4.jpg" width="500" height="300" />
            </div>
        </div>
        <p class="lead text-muted pt-3 font py-3" style="text-align:center">
            You can order a ticket <a asp-area="" asp-controller="AccountProfile" asp-action="Test">here</a>
        </p>
    </main>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link custompagination" asp-action="CretaMaris" asp-controller="HotelsInfo">Previous</a></li>
        </ul>
    </nav>
</body>
</html>