<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <link href="/docs/5.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body class="bd-placeholder-img-hotels">
    <main>
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light" style="font-size:50px">Sharm el Sheikh, Aida Hotel </h1>
                </div>
                <p class="lead pt-3 font">
                    Aida Resort is located in Ras Umm El Sid, 1 km from the Old Market. It offers spacious rooms with a balcony and free Wi-Fi, as well as an on-site outdoor pool. The hotel overlooks the Sharm El Maya area.

                    All air-conditioned rooms at Aida Hotel are traditionally decorated with wooden furnishings and come with a TV and minibar.

                    Breakfast is served daily at the hotel's main restaurant, while for dinner guests are invited to Panorama Restaurant overlooking El Maya Bay. Lunch, light snacks and drinks are served by the pool.

                    Guests can enjoy a variety of sports including basketball, squash, tennis and diving. Also, they can visit the fitness center, sauna and massage treatments.

                    The hotel is located just 5 minutes by car from the new part of the city and 20 minutes from Sharm El Sheikh Airport. Free public parking is available on site, and car rentals are also available.
                </p>
                <p class="lead text-muted pt-3 fontprice">
                    Price: Standart: $100 per night. Luxe: $160 per night
                </p>
            </div>
        </section>
        <div class="row mb-3 text-center justify-content-center">
            <div class="col-5 themed-grid-col">
                <img src="~/images/sharm1.jpg" width="500" height="300" />
            </div>
            <div class="col-5 themed-grid-col">
                <img src="~/images/sharm2.jpg" width="500" height="300" />
            </div>
        </div>
        <div class="row mb-3 text-center justify-content-center">
            <div class="col-5 themed-grid-col">
                <img src="~/images/sharm3.jpg" width="500" height="300" />
            </div>
            <div class="col-5 themed-grid-col">
                <img src="~/images/sharm4.jpg" width="500" height="300" />
            </div>
        </div>
        <p class="lead text-muted pt-3 font py-3" style="text-align:center">
            You can order a ticket <a asp-area="" asp-controller="AccountProfile" asp-action="MakeOrder">here</a>
        </p>
    </main>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link custompagination" asp-action="BoutiqueHotel" asp-controller="HotelsInfo">Next</a></li>
        </ul>
    </nav>
</body>
</html>