<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <link href="/docs/5.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body class="bd-placeholder-img-hotels">
    <main>
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light" style="font-size:50px">Sharm el Sheikh, Boutique Hotel</h1>
                </div>
                <p class="lead pt-3 font">
                    Sharm Inn Amarein Resort features air-conditioned rooms with a balcony. Free Wi-Fi is available. An outdoor swimming pool is available on site. A free shuttle service is available to private sand and coral beaches, located a 5-minute drive away.

                    The hotel's private beaches offer a range of water sports. Guests can visit the Bedouin tent and enjoy shisha and fresh mint tea. Those who wish can get a temporary tattoo and purchase Bedouin works of art.

                    The spacious rooms at Sharm Inn Amarein Resort come with satellite TV, free Wi-Fi and a minibar. Each room has a private bathroom with a bath and shower. The interior is decorated in bright colors. The floor is tiled.

                    Sharm Inn Amarein Resort's spa offers relaxing massages, a hot tub and sauna. There is also a gym with cardio equipment.

                    The resort's main restaurant serves international buffet meals. Sharm Inn Amarein Resort also has a seafood restaurant and a cocktail bar.

                    Sharm El Sheikh International Airport is a 35-minute drive away and transfers can be arranged upon request.
                </p>
                <p class="lead text-muted pt-3 fontprice">
                    Price: Standart: $250 per night. Luxe: $320 per night
                </p>
            </div>
        </section>
        <div class="row mb-3 text-center justify-content-center">
            <div class="col-5 themed-grid-col">
                <img src="~/images/BoutiqueHotel1.jpg" width="500" height="300" />
            </div>
            <div class="col-5 themed-grid-col">
                <img src="~/images/BoutiqueHotel2.jpg" width="500" height="300" />
            </div>
        </div>
        <div class="row mb-3 text-center justify-content-center">
            <div class="col-5 themed-grid-col">
                <img src="~/images/BoutiqueHotel3.jpg" width="500" height="300" />
            </div>
            <div class="col-5 themed-grid-col">
                <img src="~/images/BoutiqueHotel4.jpg" width="500" height="300" />
            </div>
        </div>
        <p class="lead text-muted pt-3 font py-3" style="text-align:center">
            You can order a ticket <a asp-area="" asp-controller="AccountProfile" asp-action="MakeOrder">here</a>
        </p>
    </main>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link custompagination" asp-action="AidaHotel" asp-controller="HotelsInfo">Previous</a></li>
            <li class="page-item"><a class="page-link custompagination" asp-action="MagicWorld" asp-controller="HotelsInfo">Next</a></li>
        </ul>
    </nav>
</body>
</html>