<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <link href="/docs/5.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body class="bd-placeholder-img-hotels">
    <main>
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light" style="font-size:50px">Sharm el Sheikh, Magic World</h1>
                </div>
                <p class="lead pt-3 font">
                    Magic World Sharm Resort - Club by Jaz is located in Sharm El Sheikh, 1.8 km from Nubian Beach. It offers a restaurant, free private parking, an outdoor pool and a fitness centre. There is a garden on site, a bar and a shared lounge. The reception is open 24/7. Amenities include a sauna. Entertainment is provided in the evenings.

                    The rooms are equipped with a seating area. Amenities include a safety deposit box and a flat-screen TV with cable channels. Each room has a wardrobe and a kettle.

                    A buffet breakfast is served every morning at Magic World Sharm Hotel.

                    The hotel has a children's playground. You can play darts, lawn tennis and table tennis at Magic World Sharm Resort - Club by Jaz. Those who wish can rent a car.

                    Nabq Bay Beach is 2.1 km from the resort, while Rehana Royal Beach is 2.4 km away. The nearest airport is Sharm El Sheikh International Airport, 11 km from Magic World Sharm Resort - Club by Jaz.
                </p>
                <p class="lead text-muted pt-3 fontprice">
                    Price: Standart: $200 per night. Luxe: $250 per night
                </p>
            </div>
        </section>
        <div class="row mb-3 text-center justify-content-center">
            <div class="col-5 themed-grid-col">
                <img src="~/images/MagicWorld1.jpg" width="500" height="300" />
            </div>
            <div class="col-5 themed-grid-col">
                <img src="~/images/MagicWorld2.jpg" width="500" height="300" />
            </div>
        </div>
        <div class="row mb-3 text-center justify-content-center">
            <div class="col-5 themed-grid-col">
                <img src="~/images/MagicWorld3.jpg" width="500" height="300" />
            </div>
            <div class="col-5 themed-grid-col">
                <img src="~/images/MagicWorld4.jpg" width="500" height="300" />
            </div>
        </div>
        <p class="lead text-muted pt-3 font py-3" style="text-align:center">
            You can order a ticket <a asp-area="" asp-controller="AccountProfile" asp-action="MakeOrder">here</a>
        </p>
    </main>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link custompagination" asp-action="BoutiqueHotel" asp-controller="HotelsInfo">Previous</a></li>
        </ul>
    </nav>
</body>
</html>