<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <link href="/docs/5.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body class="bd-placeholder-img-hotels">
    <main>
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light" style="font-size:50px">Dubai, Mandarin Oriental Jumeira </h1>
                </div>
                <p class="lead text-muted pt-3 font">
                    Offering direct beach access, Mandarin Oriental Jumeira, Dubai features 5 outdoor pools, a fitness center and a shared lounge in Dubai. Conveniently located in the Jumeirah district, this hotel is located 250 meters from Mercato Mall, 2.6 km from The Village Mall and 3.1 km from City Walk Mall. The reception is open 24/7.

                    All rooms are equipped with a coffee machine. The private bathroom comes with a hairdryer and free toiletries. The rooms are equipped with a seating area. Club rooms and suites offer access to the Club Lounge overlooking the Dubai skyline.

                    Mandarin Oriental Jumeira, Dubai offers innovative cuisine and world-class mixology in a vibrant setting. Options include Sublimotion, a unique multi-sensory dinner by acclaimed Michelin-starred chef Paco Roncero, Tasca, our signature Michelin-starred Portuguese restaurant, Warayaki Japanese-style steakhouse, and a host of other equally enticing dishes. parameters

                    A buffet breakfast is served every morning.

                    The Mandarin Oriental's spa offers a wide range of beauty and wellness treatments and is connected to a comprehensive fitness studio.
                </p>
                <p class="lead text-muted pt-3 font">
                    Price: Standart: $550 per night. Luxe: $700 per night
                </p>
            </div>
        </section>
        <div class="row mb-3 text-center justify-content-center">
            <div class="col-5 themed-grid-col">
                <img src="~/images/Mandarin1.jpg" width="500" height="300" />
            </div>
            <div class="col-5 themed-grid-col">
                <img src="~/images/Mandarin2.jpg" width="500" height="300" />
            </div>
        </div>
        <div class="row mb-3 text-center justify-content-center">
            <div class="col-5 themed-grid-col">
                <img src="~/images/Mandarin3.jpg" width="500" height="300" />
            </div>
            <div class="col-5 themed-grid-col">
                <img src="~/images/Mandarin4.jpg" width="500" height="300" />
            </div>
        </div>
        <p class="lead text-muted pt-3 font py-3" style="text-align:center">
            You can order a ticket <a asp-area="" asp-controller="AccountProfile" asp-action="Test">here</a>
        </p>
    </main>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link custompagination" asp-action="CaesarsPalace" asp-controller="HotelsInfo">Previous</a></li>
        </ul>
    </nav>
</body>
</html>