<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <link href="/docs/5.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body class="bd-placeholder-img-hotels">
    <main>
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light" style="font-size:50px">Dubai, TajExotica </h1>
                </div>
                <p class="lead text-muted pt-3 font">
                    Taj Exotica Resort & Spa, The Palm, Dubai features a restaurant, outdoor swimming pool and fitness center in Dubai. Free private parking is available. It features a bar, a private beach area and a tennis court. The front desk is open 24 hours a day and guests can make use of the currency exchange service. Room service is available.

                    All rooms at the resort are equipped with a safety deposit box. It has a balcony and a private bathroom. Free Wi-Fi is provided. Some rooms have a terrace and some offer sea views. Rooms include a sofa bed and a minibar.

                    The hotel has 7 excellent restaurants, bars and lounges serving international, British, Indian and Middle Eastern cuisine.

                    The 5-star hotel offers a sauna. There is a children's playground on site. You can play table tennis at Taj Exotica Resort & Spa, The Palm, Dubai, and car hire is available.

                    A business center and a kids' club are available.

                    Sufuh Beach is 14.6 km and Mina Seyahi Beach is 15.1 km. The nearest airport is Dubai International Airport, 42 km from Taj Exotica Resort & Spa, The Palm, Dubai.
                </p>
                <p class="lead text-muted pt-3 font">
                    Price: Standart: $500 per night. Luxe: $620 per night
                </p>
            </div>
        </section>
        <div class="row mb-3 text-center justify-content-center">
            <div class="col-5 themed-grid-col">
                <img src="~/images/TajExotica1.jpg" width="500" height="300" />
            </div>
            <div class="col-5 themed-grid-col">
                <img src="~/images/TajExotica2.jpg" width="500" height="300" />
            </div>
        </div>
        <div class="row mb-3 text-center justify-content-center">
            <div class="col-5 themed-grid-col">
                <img src="~/images/TajExotica3.jpg" width="500" height="300" />
            </div>
            <div class="col-5 themed-grid-col">
                <img src="~/images/TajExotica4.jpg" width="500" height="300" />
            </div>
        </div>
        <p class="lead text-muted pt-3 font py-3" style="text-align:center">
            You can order a ticket <a asp-area="" asp-controller="AccountProfile" asp-action="Test">here</a>
        </p>
    </main>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link custompagination" asp-action="CaesarsPalace" asp-controller="HotelsInfo">Next</a></li>
        </ul>
    </nav>
</body>
</html>