<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>project</title>
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/styles.css">
</head>

<body class="bg-color">  
    <p class="d-flex justify-content-center" style="font-size: 38px;font-style: italic;margin-bottom: 30px;">Making Order</p>
    <div class="d-flex justify-content-center py">
        <div style="width: 800px;">
            <form class="form-floating" method="post">
                <div class="input-group" style="margin-bottom: 7px; height: 60px;">
                    <span class="d-flex justify-content-center input-group-text" style="width: 80.4062px;min-width: 80.4062px;max-width: 80.4062px; font-style:italic">Resorts</span>
                    <div class="form-floating">
                        <select class="form-select" style="height: 60px">
                            <option value="12" selected="">This is item 1</option>
                            <option value="13">This is item 2</option>
                            <option value="14">This is item 3</option>
                        </select><label class="form-label">Work with&nbsp;</label>
                    </div>
                </div>
                <div class="input-group" style="margin-bottom: 7px; height: 60px">
                    <span class="d-flex justify-content-center input-group-text" style="min-width: 80.4062px; font-style:italic">Hotels</span>
                    <div class="form-floating">
                        <select class="form-select" style="height: 60px">
                            <option value="12" selected="">This is item 1</option>
                            <option value="13">This is item 2</option>
                            <option value="14">This is item 3</option>
                        </select><label class="form-label">Work with&nbsp;</label>
                    </div>
                </div>
                <div class="input-group" style="margin-bottom: 7px;height: 60px;">
                    <span class="d-flex justify-content-center input-group-text" style="width: 80.4062px;min-width: 80.4062px;max-width: 80.4062px;height: 60px; font-style:italic">Number<br />of days</span>
                    <div class="form-floating" style="height: 60px;"><input class="form-control" type="number" /><label class="form-label">Work with </label></div>
                </div>
                <div class="input-group" style="margin-bottom: 7px; height: 60px">
                    <span class="d-flex justify-content-center input-group-text" style="min-width: 80.4062px; font-style:italic">Date</span>
                    <div class="form-floating"><input class="form-control" type="date" style="height: 60px"><label class="form-label">Work with&nbsp;</label></div>
                </div><button class="btn btn-primary" type="submit" style="background: var(--bs-indigo);border-width: 0px;margin-bottom: 7px; height:50px; min-width: 80.4062px; max-width: 80.4062px">Make</button>
            </form>
        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>