<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <link href="/docs/5.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body class="bd-placeholder-img-hotels">
    <main>
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light" style="font-size:50px">Hawaii, Halepuna </h1>
                </div>
                <p class="lead text-muted pt-3 font">
                    Surrounded by shops and restaurants, Halepuna Waikiki is a luxurious boutique hotel located in the heart of Waikiki, a 2-minute walk from Waikiki Beach. The hotel has been designed by renowned international interior design studio Champalimaud. The hotel features the work of several Hawaiian artists in collaboration with the Honolulu Museum of Art Community Art Program.

                    Rooms are equipped with a 50-inch flat-screen TV and free Wi-Fi. Branded toiletries, remote controls for lighting and window tinting, and conveniences for USB and Bluetooth connectivity are provided. The rooms are equipped with a deep soaking bathtub and TOTO electronic bidet.

                    The 9th floor features an urban oasis with panoramic views of Waikiki Beach, hot tub, infinity pool, pool bar with signature cocktails and private garden with reflexology path.

                    The fitness studio offers weekly classes. Guests have access to the SpaHalekulani and spa benefits of the partner hotel across the street. Halekulani Bakery & Restaurant features an open-air chocolate bakery and an all-day restaurant with both indoor and outdoor seating. The restaurant specializes in local products.
                </p>
                <p class="lead text-muted pt-3 font">
                    Price: Standart: $560 per night. Luxe: $720 per night
                </p>
            </div>
        </section>
        <div class="row mb-3 text-center justify-content-center">
            <div class="col-5 themed-grid-col">
                <img src="~/images/Halepuna1.jpg" width="500" height="300" />
            </div>
            <div class="col-5 themed-grid-col">
                <img src="~/images/Halepuna2.jpg" width="500" height="300" />
            </div>
        </div>
        <div class="row mb-3 text-center justify-content-center">
            <div class="col-5 themed-grid-col">
                <img src="~/images/Halepuna3.jpg" width="500" height="300" />
            </div>
            <div class="col-5 themed-grid-col">
                <img src="~/images/Halepuna4.jpg" width="500" height="300" />
            </div>
        </div>
        <p class="lead text-muted pt-3 font py-3" style="text-align:center">
            You can order a ticket <a asp-area="" asp-controller="AccountProfile" asp-action="Test">here</a>
        </p>
    </main>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link custompagination" asp-action="TrumpInternational" asp-controller="HotelsInfo">Previous</a></li>
        </ul>
    </nav>
</body>
</html>