<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <link href="/docs/5.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body class="bd-placeholder-img-hotels">
    <main>
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light" style="font-size:50px">Hawaii, KoloaLanding </h1>
                </div>
                <p class="lead text-muted pt-3 font">
                    Koloa Landing At Poipu Beach Resort is located in the south of Kauai. It offers 2 resort-style pools, a modern fitness center and suites with LCD TVs and kitchens.

                    Suites and villas feature floor-to-ceiling windows, stone floors and large balconies with ocean views. It offers free Wi-Fi, an iPod docking station, a fully equipped kitchen and a private bathroom. Guests can use the washing machines and dryers in the rooms.

                    The property features landscaped ponds and torch-lit paths. A continental breakfast is served daily. Valet parking and concierge services are provided. Guests can purchase wellness spa packages.

                    The shops and restaurants of Poipu Shopping Village are a 10-minute walk from Koloa Landing at Poipu Beach. Port Allen Airport is 21 km away.
                </p>
                <p class="lead text-muted pt-3 font">
                    Price: Standart: $600 per night. Luxe: $800 per night
                </p>
            </div>
        </section>
        <div class="row mb-3 text-center justify-content-center">
            <div class="col-5 themed-grid-col">
                <img src="~/images/KoloaLanding1.jpg" width="500" height="300" />
            </div>
            <div class="col-5 themed-grid-col">
                <img src="~/images/KoloaLanding2.jpg" width="500" height="300" />
            </div>
        </div>
        <div class="row mb-3 text-center justify-content-center">
            <div class="col-5 themed-grid-col">
                <img src="~/images/KoloaLanding3.jpg" width="500" height="300" />
            </div>
            <div class="col-5 themed-grid-col">
                <img src="~/images/KoloaLanding4.jpg" width="500" height="300" />
            </div>
        </div>
        <p class="lead text-muted pt-3 font py-3" style="text-align:center">
            You can order a ticket <a asp-area="" asp-controller="AccountProfile" asp-action="Test">here</a>
        </p>
    </main>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link custompagination" asp-action="TrumpInternational" asp-controller="HotelsInfo">Next</a></li>
        </ul>
    </nav>
</body>
</html>