<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <link href="/docs/5.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body class="bd-placeholder-img">
    <main>
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light" style="font-size:50px">Greece, Crete Island</h1>
                </div>
                <p class="lead text-muted pt-3 font">
                    Crete is one of the most popular and sought after tourist destinations. 
                    This island attracts with a rich selection of attractions, centuries-old culture.
                    The history of Crete is closely connected with the birth of European civilization and culture.
                    Ancient legends come true here.
                    Of course, most tourists choose to rest in Crete for the sake of comfortable, picturesque beaches.
                </p>
            </div>
        </section>
        <div class="row mb-3 text-center justify-content-center">
            <div class="col-5 themed-grid-col">
                <img src="~/images/crete1.jpg" width="500" height="300" />
            </div>
            <div class="col-5 themed-grid-col">
                <img src="~/images/crete2.jpg" width="500" height="300" />
            </div>
        </div>
        <div class="row mb-3 text-center justify-content-center">
            <div class="col-5 themed-grid-col">
                <img src="~/images/crete3.jpg" width="500" height="300" />
            </div>
            <div class="col-5 themed-grid-col">
                <img src="~/images/crete4.jpg" width="500" height="300" />
            </div>
        </div>
        <p class="lead text-muted pt-3 font py-3" style="text-align:center">
            You can check a hotel <a asp-area="" asp-controller="HotelsInfo" asp-action="Turkey">here</a>
            <br />
            You can order a ticket <a asp-area="" asp-controller="ResortsInfo" asp-action="Home">here</a>
        </p>
    </main>
</body>
</html>