<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <link href="/docs/5.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body class="bd-placeholder-img-hotels">
    <main>
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light" style="font-size:50px">Ibiza, LuxIsla </h1>
                </div>
                <p class="lead text-muted pt-3 font">
                    Hotel Lux Isla is located on the shores of a picturesque bay in Talamanca, 100 meters from the beach. All spacious rooms are equipped with air conditioning and satellite TV. Most rooms have a balcony.

                    It has a private bathroom with a hairdryer, slippers and free toiletries. Each guest is provided with a complimentary bottle of water upon arrival.

                    Light snacks are available at the Lux Isla's café-bar. There is a garden on the territory. A la carte breakfast is served from 07:00. Guests can get tourist information from the 24-hour front desk.

                    Ibiza Town with many bars, restaurants and the marina is just 1.5 km away. Regular ferries and regular buses run from Talamanca.
                </p>
                <p class="lead text-muted pt-3 font">
                    Price: Standart: $310 per night. Luxe: $370 per night
                </p>
            </div>
        </section>
        <div class="row mb-3 text-center justify-content-center">
            <div class="col-5 themed-grid-col">
                <img src="~/images/LuxIsla1.jpg" width="500" height="300" />
            </div>
            <div class="col-5 themed-grid-col">
                <img src="~/images/LuxIsla2.jpg" width="500" height="300" />
            </div>
        </div>
        <div class="row mb-3 text-center justify-content-center">
            <div class="col-5 themed-grid-col">
                <img src="~/images/LuxIsla3.jpg" width="500" height="300" />
            </div>
            <div class="col-5 themed-grid-col">
                <img src="~/images/LuxIsla4.jpg" width="500" height="300" />
            </div>
        </div>
        <p class="lead text-muted pt-3 font py-3" style="text-align:center">
            You can order a ticket <a asp-area="" asp-controller="AccountProfile" asp-action="Test">here</a>
        </p>
    </main>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link custompagination" asp-action="OKUIbiza" asp-controller="HotelsInfo">Previous</a></li>
            <li class="page-item"><a class="page-link custompagination" asp-action="RosellBoutique" asp-controller="HotelsInfo">Next</a></li>
        </ul>
    </nav>
</body>
</html>