<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <link href="/docs/5.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body class="bd-placeholder-img-hotels">
    <main>
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light" style="font-size:50px">Ibiza, OKU Ibiza </h1>
                </div>
                <p class="lead text-muted pt-3 font">
                    OKU Ibiza features a bar, restaurant, a fitness center and garden in San Antonio. This 5-star hotel offers air-conditioned rooms with free Wi-Fi. Guests can relax on the terrace. The front desk is open 24/7, room service is available, and there is a currency exchange service.

                    The rooms are equipped with a coffee machine, a flat-screen TV, a wardrobe and a private bathroom.

                    Guests can enjoy a continental or buffet breakfast in the morning.

                    OKU Ibiza offers an outdoor swimming pool.

                    Nearby are the Café del Mar bar, the Golden Buddha Ibiza Club and the Cap Blanc Aquarium. The nearest airport is Ibiza Airport, 22 km from OKU Ibiza.

                    This is our guests' favorite part of San Antonio, according to independent reviews.
                </p>
                <p class="lead text-muted pt-3 font">
                    Price: Standart: $350 per night. Luxe: $460 per night
                </p>
            </div>
        </section>
        <div class="row mb-3 text-center justify-content-center">
            <div class="col-5 themed-grid-col">
                <img src="~/images/OKUIbiza1.jpg" width="500" height="300" />
            </div>
            <div class="col-5 themed-grid-col">
                <img src="~/images/OKUIbiza2.jpg" width="500" height="300" />
            </div>
        </div>
        <div class="row mb-3 text-center justify-content-center">
            <div class="col-5 themed-grid-col">
                <img src="~/images/OKUIbiza3.jpg" width="500" height="300" />
            </div>
            <div class="col-5 themed-grid-col">
                <img src="~/images/OKUIbiza4.jpg" width="500" height="300" />
            </div>
        </div>
        <p class="lead text-muted pt-3 font py-3" style="text-align:center">
            You can order a ticket <a asp-area="" asp-controller="AccountProfile" asp-action="Test">here</a>
        </p>
    </main>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link custompagination" asp-action="LuxIsla" asp-controller="HotelsInfo">Next</a></li>
        </ul>
    </nav>
</body>
</html>