<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <link href="/docs/5.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body class="bd-placeholder-img-hotels">
    <main>
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light" style="font-size:50px">Ibiza, RosellBoutique </h1>
                </div>
                <p class="lead text-muted pt-3 font">
                    Rosell Boutique Hotel is located in San Antonio, 1.5 km from Cala Pinet Beach and 500 meters from Es Paradis Ibiza Nightclub. It features a bar and free Wi-Fi throughout. The hotel is close to several famous attractions, 600 meters from Port of San Antonio, 700 meters from Golden Buddha Ibiza and 100 meters from West End. Guests can book family rooms.

                    The hotel rooms are air conditioned. It comes with a wardrobe, a safe, a flat-screen TV and a private bathroom with a shower. Rooms at the Rosell Boutique Hotel include bed linen and towels.

                    Popular points of interest near the hotel include Café del Mar, San Antonio Bus Station and Eden Ibiza nightclub.
                </p>
                <p class="lead text-muted pt-3 font">
                    Price: Standart: $270 per night. Luxe: $300 per night
                </p>
            </div>
        </section>
        <div class="row mb-3 text-center justify-content-center">
            <div class="col-5 themed-grid-col">
                <img src="~/images/RosellBoutique1.jpg" width="500" height="300" />
            </div>
            <div class="col-5 themed-grid-col">
                <img src="~/images/RosellBoutique2.jpg" width="500" height="300" />
            </div>
        </div>
        <div class="row mb-3 text-center justify-content-center">
            <div class="col-5 themed-grid-col">
                <img src="~/images/RosellBoutique3.jpg" width="500" height="300" />
            </div>
            <div class="col-5 themed-grid-col">
                <img src="~/images/RosellBoutique4.jpg" width="500" height="300" />
            </div>
        </div>
        <p class="lead text-muted pt-3 font py-3" style="text-align:center">
            You can order a ticket <a asp-area="" asp-controller="AccountProfile" asp-action="Test">here</a>
        </p>
    </main>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link custompagination" asp-action="LuxIsla" asp-controller="HotelsInfo">Previous</a></li>
        </ul>
    </nav>
</body>
</html>