<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <link href="/docs/5.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body class="bd-placeholder-img-hotels">
    <main>
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light" style="font-size:50px">Antalya, Delphin Imperial Hotel </h1>
                </div>
                <p class="lead text-muted pt-3 font">
                    Looking for a place to stay in Antalya? You can search no more. Then look no further than Delfin Imperial Hotel Lara, a luxury hotel that brings the best of Antalya to your doorstep.

                    Rooms at Delfin Imperial Hotel Lara offer a flat screen TV, air conditioning, and a minibar. Guests can stay connected with free Wi-Fi.

                    You can also enjoy a pool and breakfast while staying at Delfin Imperial Hotel Lara. Looking for a place to park your car? Dolphin Imperial Hotel Lara offers free parking

                    Don't hesitate to check out Mediterranean restaurants such as River Garden Restaurant and Kirlangic Restaurant, both a short distance from Delfin Imperial Hotel Lara.

                    We are sure that you will like Delfin Imperial Hotel Lara. Living here, you will be able to see everything that Antalya has to offer to the guests of the city.                </p>
                <p class="lead text-muted pt-3 font">
                    Price: Standart: $150 per night. Luxe: $210 per night
                </p>
            </div>
        </section>
        <div class="row mb-3 text-center justify-content-center">
            <div class="col-5 themed-grid-col">
                <img src="~/images/DelphinImperialHotel1.jpg" width="500" height="300" />
            </div>
            <div class="col-5 themed-grid-col">
                <img src="~/images/DelphinImperialHotel2.jpg" width="500" height="300" />
            </div>
        </div>
        <div class="row mb-3 text-center justify-content-center">
            <div class="col-5 themed-grid-col">
                <img src="~/images/DelphinImperialHotel3.jpg" width="500" height="300" />
            </div>
            <div class="col-5 themed-grid-col">
                <img src="~/images/DelphinImperialHotel4.jpg" width="500" height="300" />
            </div>
        </div>
        <p class="lead text-muted pt-3 font py-3" style="text-align:center">
            You can order a ticket <a asp-area="" asp-controller="AccountProfile" asp-action="Test">here</a>
        </p>
    </main>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link custompagination" asp-action="ConcordeDeLuxe" asp-controller="HotelsInfo">Previous</a></li>
        </ul>
    </nav>
</body>
</html>