<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <link href="/docs/5.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body class="bd-placeholder-img-hotels">
    <main>
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light" style="font-size:50px">Antalya, Lara Barut Collection </h1>
                </div>
                <p class="lead text-muted pt-3 font">
                    Finding an ideal luxury hotel in Antalya does not have to be difficult. Welcome to Barut Lara Resort Spa & Suites, a nice option for travelers like you.

                    Relax in rooms with a flat-screen TV, air conditioning and a refrigerator. You can also stay connected during your stay as Barut Lara offers guests free wifi.

                    The hotel features room service and a concierge. Plus, Barut Lara Turkey offers a pool and breakfast, providing a pleasant respite from your busy day. Guests arriving by car can benefit from free parking.

                    During your visit, be sure to check out a popular science museum like Deniz Biyolojisi Muzesi, which is a short distance from the hotel.

                    The staff of Barut Lara Resort Spa & Suites looks forward to welcoming you to Antalya.
                </p>
                <p class="lead text-muted pt-3 font">
                    Price: Standart: $300 per night. Luxe: $400 per night
                </p>
            </div>
        </section>
        <div class="row mb-3 text-center justify-content-center">
            <div class="col-5 themed-grid-col">
                <img src="~/images/larabarut1.jpg" width="500" height="300" />
            </div>
            <div class="col-5 themed-grid-col">
                <img src="~/images/larabarut2.jpg" width="500" height="300" />
            </div>
        </div>
        <div class="row mb-3 text-center justify-content-center">
            <div class="col-5 themed-grid-col">
                <img src="~/images/larabarut3.jpg" width="500" height="300" />
            </div>
            <div class="col-5 themed-grid-col">
                <img src="~/images/larabarut4.jpg" width="500" height="300" />
            </div>
        </div>
        <p class="lead text-muted pt-3 font py-3" style="text-align:center">
            You can order a ticket <a asp-area="" asp-controller="AccountProfile" asp-action="Test">here</a>
        </p>
    </main>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link custompagination" asp-action="ConcordeDeLuxe" asp-controller="HotelsInfo">Next</a></li>
        </ul>
    </nav>
</body>
</html>